<h1>Edit Landmark</h1>
<form action="/landmarks/<%= @landmark.id %>" method="POST">
  <label>Name:</label>
  <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>">
  <label>Year Completed:</label>
  <input type="integer" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>" >


  <br></br>
  <label>Choose from existing figures:</label><br></br>
  <% Figure.all.each do |figure| %>
    <input type="radio" name="landmark[figure_id]" id="figure_<%= figure.id%>"
        value ="<%= figure.id%>"
        <%="checked" if @landmark.figure_id == figure.id %> >
        <%=figure.name%>
      <br></br>
    </input>
  <% end %>
  <br></br>
  <label>Create a new figure:</label>
  <br></br>
  <label>Name:</label>
  <input type="text" name="figure[name]"> </input>
  <br></br>

  <input type="submit" value="Edit Landmark"> </input>

</form>
